body {
	margin: 0;
}

.all-flex {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.flexbox__example {
	height: 666px;
	display: flex;
	align-items: center;
}

.flexbox__container {
    border: 5px;
    background-color: #2B4570;
    flex-wrap: wrap-reverse;
    width: 273px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.flexbox__element {
	background-color: #E49273;
    width: 50px;
    height: 50px;
    margin: 20px;
	border-radius: 50%;
    display: flex;
}

.flexbox__container__large {
    border: 5px;
    background-color: #A8D0DB;
    width: 273px;
    height: 220px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-content: flex-start;
}

.flexbox__element__long {
    background-color:#E49273;
    margin: 20px 10px;
    width: 50px;
    height: 50px;
	border-radius: 50%;
	display: flex;
}