body {
    background-color: #030704;
}

.container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightgray;
    margin: auto auto;
    width: 770px;
    height: 1030px;
    padding: 20px;
    border: 10px solid lightsteelblue;
    display: block;
}

.female-icon{
    border: 3px solid black;
    float: right;
    width: 150px;
    height: 150px;
}

.email-link{
    font-style: italic;
    font-weight: 500;
    padding-left: 10px;
}

.linkedIn {
    width: 70px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    display: inline-block;
}

.linkedin__link{
    display: inline-block;
    /* padding: 5px; */
    font-style: italic;
    font-weight: 500;
    padding-right: 20px;
    /* display: inline-block; */
}

.social_media{
    width: 750px;
    background-color: lightsteelblue;
    border: 10px solid lightsteelblue;
    /* display: block; */
    display: inline-block;
}

.skype{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    width: 21px;
    height: auto;
    padding-right: 2px;
    /* display: inline; */
    /* margin-top: 30px; */
    display: inline-block;
}

.skype__link {
    display: inline-block;
    font-weight: 500;
}

.about__me{
    font-style: italic;
    font-size: 17   px;
    padding-left: 12px;
}

.epitech__icon{
    vertical-align: middle;
    display:inline-block;
    width: 150px;
    height: auto;
}

.education {
    width: 750px;
    background-color: lightsteelblue;
    border: 10px solid lightsteelblue;
    display:inline-block;
}

.education__description{
    padding-left: 20px;
    display:inline-block;
    vertical-align: middle;
}

.first__list{
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
}

.second__list{
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    display: inline-block;
    padding-left: 200px;
}

span.technical__skills {
    display: inline-block;
}

.lang {
    display: inline;
}

.hobb {
    display: inline;
    padding-left: 290px;
}

.github__account{
    font-weight: normal;
    font-style: italic;
    padding-left: 20px;
}

.github__link{
    padding-left: 30px;
}

span.others{
display: inline-block;
}

.f__list{
    font-size: 17px;
    font-style: italic;
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
}

.s__list{
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
    padding-left: 80px;
}

.th__list {
    vertical-align: middle;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    list-style-type: none;
    display: inline-block; 
    padding-left: 180px;
}